.markdown-render {
    blockquote {
        border-left: 4px solid skyblue;
        padding: 1rem;
        background: gray;
        margin-left: 0;
        margin-right: 0;

        p {
            margin: 0
        }
    }

    h1, h2, h3, h4 {
        font-weight: 500;
    }

}