@import '../../../styles/utils.scss';

.editor-header {
    background: blue;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}